.cardSecCard{
    width: 275px;
    height: 400px;
    border:0.5px solid rgb(209, 200, 200);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    justify-content: space-between;
}
.nameCard{
    height: 50px;
    width: 100%;
    background-color: #7ebc0a;
    border-radius: 25px 25px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
}
i{
    color: #7ebc0a;
}

.endCard{
    width: 100%;
    border: 0.5px solid rgb(209, 200, 200);
    border-radius: 25px;
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: center;
    flex-direction: column;
}

.endCard > button{
    width: 90%;
    background-color: #7ebc0a;
    padding: 20px;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    font-size: 17px;
}

.cardInfo{
    width: 275px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    justify-content: space-between;
    padding: 10px;
}