.yndhannurDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin-top: 50px;
}
.yndhannurDiv > img{
    width: 275px;
    height: 400px;
    border:0.5px solid rgb(209, 200, 200);
    border-radius: 20PX;
}

.yndhannurDiv > img:hover{
    opacity: 0.1;
}